.flex{
    display: flex;
    flex-direction: row;
    background-color: yellow;
    justify-content: space-between;
}
.box{
    background-color: white;
    margin-right: 20px;
    width: 30%;
    height:30%;
    font-size: 40px;
}