* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.parrent{
    width: 500px;
    height: 500px;
    background-color: red;
}

.viewpoint{
    width: 500px;
    height: 500px;
    background-color: blue;
}