.item1{
    background: #f00;
    width: 150px;
    height: 150px;
    float: left;
}
.item2{
   background: #0f0;
   width: 150px;
   height: 150px;
   float: left;
}
.item3{
    background: #00f;
    width: 150px;
    height: 150px;
    clear: left;
}